* {
    box-sizing: border-box
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
    min-height: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
    font-family: Roboto,Ubuntu,'Droid Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 1.6rem;
    line-height: 1.375;
    align-content: center;
}

.pageHeader {
    height: 8vh;
    -webkit-background-size: cover;
    background-size: cover;
    background: linear-gradient(rgba(38, 76, 114, 1), rgba(63, 127, 191, 1)) no-repeat fixed 50% 50%;
}

a.content:visited {
    color: white;
}

.settings {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.settings-cards {
    margin-top: 50px;
}

.settingsHeader {
     display: flex;
     justify-content: center;
     background: white;
     color: rgba(38, 76, 114, 1);
 }

.profileSettings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.small-card-info {
    background-image: url("images/info.png");
    background-position: 15px center;
}

.small-card-login {
    background-image: url(images/login.png);
    background-position: 15px center;
}

.small-card-password {
    background-image: url(images/password.png);
    background-position: 15px center;
}

.small-card-balance {
    background-image: url(images/balance.png);
    background-position: 15px center;
}

 .small-card {
     position: relative;
     margin-bottom: 10px;
     padding: 10px 10px 10px 75px;
     width: 23%;
     height: 110px;
     -webkit-box-shadow: 0 1px 4px rgb(0 0 0);
     box-shadow: 0 1px 4px rgb(0 0 0);
     border: 1px solid rgba(0,0,0,.09);
     border-radius: 3px;
     background-size: auto 50%;
     background-color: #fff;
     background-repeat: no-repeat;
     -webkit-transition: border-color .3s,-webkit-box-shadow .3s;
     transition: box-shadow .3s,border-color .3s,-webkit-box-shadow .3s;
 }

.small-card-title {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}

.small-card__body p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.small-card-footer {
    position: absolute;
    bottom: 0;
    font-size: 17px;
}

.small-card-footer a {
    color: rgba(38, 76, 114, 1);
}

@media screen and (max-width: 1000px) {
    .settings {
        width: 98%;
        align-self: center;
    }

    .profileSettings {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
    }

    .small-card {
        width: 48%;
    }

    .settings-cards {
        margin-left: 15px;
    }
}

@media screen and (max-width: 500px) {
    .settings {
        width: 98%;
        align-self: center;
    }

    .small-card {
        width: 90%;
    }

    .settings-cards {
        margin-left: 15px;
        margin-top: 20px;
    }

    .profile_settings {
        margin-left: 20px;
    }
}

div.overlayPay,
div.overlay {
    background-color: rgba(0,0,0,.25);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
div.overlayPay > div.login-wrapper,
div.overlay > div.login-wrapper {
    align-self: center;
    background-color: rgba(0,0,0,.25);
    border-radius: 2px;
    padding: 6px;
    width: 450px;
}

div.overlayPay > div.login-wrapper > div.login-content,
div.overlay > div.login-wrapper > div.login-content {
    background-color: rgb(255,255,255);
    border-radius: 2px;
    padding: 24px;
    position: relative;
}

div.overlayPay > div.login-wrapper > div.login-content > h3,
div.overlay > div.login-wrapper > div.login-content > h3 {
    color: rgb(0,0,0);
    font-family: 'Varela Round', sans-serif;
    font-size: 1.8em;
    margin: 0 0 1.25em;
    padding: 0;
}

.overlayPay a:hover,
.overlay a:hover {
    cursor: pointer;
}

.overlayPay form label,
.overlay form label {
    color: rgb(0,0,0);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25em;
    margin: .75em 0;
}

.overlay form textarea,
.overlay form input[type="text"],
.overlay form input[type="email"],
.overlay form input[type="number"],
.overlay form input[type="search"],
.overlay form input[type="password"],
.overlayPay form textarea,
.overlayPay form input[type="number"] {
    background-color: rgb(255,255,255);
    border: 1px solid rgb( 186, 186, 186 );
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    display: block;
    font-size: .65em;
    margin: 6px 0 12px 0;
    padding: .8em .55em;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    transition: all 400ms ease;
    width: 90%;
}

.overlayPay a.closePay,
.overlay a.close {
    background-color: rgb(204,204,204);
    border-radius: 50%;
    color: rgb(255,255,255);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: .8em;
    padding: .2em .5em;
    position: absolute;
    top: 1.25rem;
    transition: all 400ms ease;
    right: 1.25rem;
}

.overlayPay form button,
.overlay form button {
    background-color: rgba(38, 76, 114, 1);
    border: 1px solid rgba(0,0,0,.1);
    color: rgb(255,255,255);
    font-family: 'Varela Round', sans-serif;
    font-size: .85em;
    padding: .55em .9em;
    transition: all 400ms ease;
}

.overlayPay form button:hover,
.overlay form button:hover {
    background-color: #50c1e9;
    cursor: pointer;
}



